<%# <div>
  <div>
    <h1>
      ALL CHORES CATEGORIES
    </h1>
  </div>
</div>

<hr> %>

<%# <section class="py-6"> %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center" style="font-family: 'Architects Daughter', cursive; padding: 25px;">
          <h1 class="mb-2">
            ALL CHORES CATEGORIES
          </h1>

          <p style="font-size: large;">
            When you consciously choose to do what you love, life becomes a pleasure and ceases to be a chore.
          </p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4">
          <img src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2019/10/Mother_Children_Laundry_1296x728-header-1296x728.jpg?w=1155&h=1528" class="rounded-circle spotlight-image">
          
          <hr>
          <h4 class="h5 font-weight-bold" style="font-family: 'Architects Daughter', cursive;">
            WASHING
          </h4>

          <p>
            Happiness is accidently making a soup bubble when washing.
          </p>
        </div>

        <div class="col-md-4">
          <img src="https://static.onecms.io/wp-content/uploads/sites/38/2015/05/04163136/PAR1119_SPEED_P57_SR100216_Parents-1536-S.jpg" class="rounded-circle spotlight-image">

          <hr>
          <h4 class="h5 font-weight-bold" style="font-family: 'Architects Daughter', cursive;">
            CLEANING
          </h4>

          <p>
            Happiness is a freshly cleaned house.
          </p>
        </div>

        <div class="col-md-4">
          <img src="https://superiorculinarycenter.com/wp-content/uploads/2019/12/Cooking-with-Kids.jpg" class="rounded-circle spotlight-image">

          <hr>
          <h4 class="h5 font-weight-bold" style="font-family: 'Architects Daughter', cursive;">
            COOKING
          </h4>

          <p>
            Happiness is when cooking makes love visible.
          </p>
        </div>

      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-2">
            <a href="/chores" class="btn btn-info btn-lg active" role="button" aria-pressed="true" style="font-family: 'Architects Daughter', cursive;">
              See the list of chores
            </a>
          </p>
        </div>
      </div>
    </div>
  <%# </section> %>

